
<md-sidenav-container  fullscreen [@fadeInOut]="'true'">

	<md-sidenav #start>
		<div class="side-nav-logo" >todo-list</div>

		<md-nav-list>
			<div class="list-item">Filter by status</div>
			<md-radio-group  class="radio-group" [(ngModel)]="filterStatus">
				<md-radio-button class="radio-button" value="in queue">
				    In queue
				</md-radio-button>
				<md-radio-button class="radio-button" value="canceled">
				    Canceled
				</md-radio-button>
				<md-radio-button class="radio-button" value="done">
				    Done
				</md-radio-button>
				<md-radio-button class="radio-button" value="">
				    All
				</md-radio-button>
			</md-radio-group>
			<div class="sort-container">
				<md-checkbox class="sort-checkbox" (change)="onSort()" [(ngModel)]="sortByStatus" >Sort by status</md-checkbox>
				<md-checkbox class="sort-checkbox" (change)="onSort()" [(ngModel)]="sortByPriority" >Sort by priority</md-checkbox>
			</div>
		</md-nav-list>

	</md-sidenav>
	<div class="toolbar-container">
		<md-toolbar color="primary" class="md-toolbar-tools" style="position: fixed; top: 0; width: 100%; z-index: 1">

			<button md-icon-button (click)="start.open()">
				<md-icon>menu</md-icon>
			</button>

			<span id="title">todo-list</span>

			<span class="fill-space" flex></span>

			<button md-icon-button [mdMenuTriggerFor]="menu" >
			  <md-icon>more_vert</md-icon>
			</button>
			<md-menu #menu="mdMenu">

					<button class="tool-button" md-menu-item (click)="removeChosenTodos()" *ngIf="chosenTodos.length>0">
				      <md-icon>delete</md-icon>
				      <span>Delete</span>
					</button>


					<button class="tool-button" md-menu-item (click)="clearAll()">
				      <md-icon>autorenew</md-icon>
				      <span>Clear the space</span>
					</button>

			</md-menu>

		</md-toolbar>
	</div>

	<div class="main-content">

		<md-card (click)="onTodoClick(todo)" [ngClass]="{'chosen-todo': isChosen(todo)}" class="todo-card" *ngFor="let todo of todos | async | idSorting:sortById | statusFilter:filterStatus | statusSorting:sortByStatus | prioritySorting:sortByPriority; trackBy:todo?.id" [@fadeInOut]="'true'">
			<div class="todo-header" *ngIf="todo.priority!=10 || todo.status.val!=3">
				<div class="todo-priority" *ngIf="todo.priority<10">
					Priority: {{todo.priority}}
				</div>
				<span class="fill-space" flex></span>

				<div class="todo-tool-buttons" *ngIf="todo.status.val===1">
					  <md-icon (click)="cancelTodo(todo.$key)">clear</md-icon>

					  <md-icon (click)="navigateToEditPage(todo)">edit</md-icon>

					  <md-icon (click)="completeTodo(todo.$key)">done</md-icon>
				</div>
				<div class="todo-tool-buttons" *ngIf="todo.status.val===2">

					      <md-icon (click)="putBackInQueue(todo.$key)">
								undo
						  </md-icon>

				</div>

			</div>
			<div [ngClass]="{'canceled': todo.status.val==2, 'done': todo.status.val==3, 'todo-text': true}" >
				{{todo.title}}
			</div>
		</md-card>

	</div>
<a class="add-todo-button" md-fab [routerLink]="['/add-todo/']" [@fadeInOut]="'true'">
		<div class="plus">
			<md-icon>add</md-icon>
		</div>
	</a>
</md-sidenav-container>
